@media (max-width: 768px){
	.header {
		margin:0 5%;
	}
	.promo__wrapper {
		margin: 3%;
	}
}
@media (max-width: 575px){
	.promo {
		min-height: 100%;
		padding: 10px 0 0;
	}
	.header__phone {
		font-size: 16px;
	}
	.header__official {
		display: inline;
		font-size: 10px;
	}
	.promo__wrapper {
		margin: 5% 6% 0 6%;
	}
	.promo__icons {
		margin: 5% auto;
	}
	.button_main {
		margin:2% auto;
	}
	.promo__link {
		margin: 3% auto;
	}
	.advantages {
		padding: 10px 0;
		text-align: center;
			&__wrapper {
				padding: 0;
			}
			&__subtitle {
				margin-top: 10%;
			}
			&__item {
				padding: 0 2%;
			}
	}
}
@media (max-width: 425px) {
	
	.header {
		&__contacts .button {
			display: none;
		}
		&__official {
			display: none;
		}
		&__logo {
			width: 45%;
		}
		&__phone {
			font-size: 20px;
		}
	}
	.promo {
		&__header {
			text-align: center;
			font-size: 31px;
		}
		&__subheader {
			text-align: center;
		}
		&__icons {
			align-items: baseline;
			max-width: 100%;
		}
	}
	.advantages {
		&__wrapper {
		margin-top: 2%;
		display: flex;
		flex-direction: column;
		align-items: center;
		}
		&__subtitle {
			margin-top: 2%;
		}
		&__item {
			margin-top: 10%;
		}
	}
	@media (max-width: 320px) {
		.header {
			&__contacts .button {
				display: none;
			}
			&__official {
				display: none;
			}
			&__logo {
				width: 45%;
			}
			&__phone {
				font-size: 16px;
			}
		}
		.promo {
			&__header {
				font-size: 23px;
			}
			&__subheader {
				margin-top: 0;
				text-align: center;
			}
			&__icons {
				align-items: baseline;
				max-width: 100%;
			}
			&__icon {
				width: 100px;
				text-align: center;
				color: #fff;
				font-size: 12px;
				font-weight: 500;
			}
			.button_main{
				max-width: 90%;
			}
		}
		.advantages {
			&__wrapper {
			margin-top: 2%;
			display: flex;
			flex-direction: column;
			align-items: center;
			}
			&__subtitle {
				margin-top: 2%;
			}
			&__item {
				margin-top: 10%;
			}
		}
	}
}